<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>dev.pkarpovich.nikki</string>
	<key>CFBundleName</key>
	<string>nikki</string>
	<key>CFBundleShortVersionString</key>
	<string>__VERSION__</string>
	<key>CFBundleVersion</key>
	<string>__VERSION__</string>
	<key>NSAppleEventsUsageDescription</key>
	<string>nikki asks the browser which tab is in front so your activity timeline records the site you were on rather than only the application.</string>
</dict>
</plist>
